@charset "utf-8";
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	-webkit-border-radius: 4px;
}
::-webkit-scrollbar-track {
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 8px rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.05);
	width: 3px;
	height: 3px;
	border:1px solid rgba(255,255,255,0.05);
}
::-webkit-scrollbar-track-piece {
	-webkit-border-radius: 4px;
	background-color: rgba(234,234,234,1);
	-webkit-box-shadow: inset 0px 0px 6px rgba(0,0,0,0.15);
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 4px;
	background-color: rgba(244,244,244,1);
	-webkit-box-shadow: inset 1px 1px 15px rgba(255,255,255,0.8),
	inset 1px 1px 0px rgba(255,255,255,0.8);
	border:1px solid rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	background-color: rgba(204,204,204,1);
	-webkit-box-shadow: none;
	border:1px solid rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track:window-inactive,
::-webkit-scrollbar-track-piece:window-inactive,
::-webkit-scrollbar-thumb:window-inactive {
	-webkit-box-shadow:none;
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}
::-webkit-resizer{
	background-color: transparent;
}
/*首页*/
#announ {height: 35px;line-height: 35px;overflow: hidden;float: left;background: url(../../../images/v10/icon.png) no-repeat left -456px;padding-left: 20px;}
.box{margin: 20px 0;}
.left{width: 330px; float: left;}
.banner{width: 760px; height: 395px; float: left; overflow: hidden;}
.banner img{width: 100%; height: 395px;}
.swiper-pagination{width: 100%; height: 15px; position: absolute; bottom: 10px;}
.swiper-pagination-bullet{width: 30px; height: 10px; border-radius: 0; background: #2196f3; margin: 0 5px;}
.button-prev,
.button-next{height: 40px; width: 22px; position: absolute; z-index: 999; padding: 10px 5px; margin-top: -20px; top: 50%; cursor: pointer;}
.button-prev{background: url(../images/bannerL.png) no-repeat center; left: 0px; background-color: rgba(0, 0, 0, .3);}
.button-next{background: url(../images/bannerR.png) no-repeat center; right: 0px; background-color: rgba(0, 0, 0, .3);}
.top-right{float: right; width: 350px; height: 380px;overflow:hidden;}
.ranking{margin-top: 10px; margin-bottom: 5px}
.ranking li{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.ranking li .title_color{display: inline;}
.ranking li{padding: 6px 0; height: 20px; line-height: 20px;}
.ranking li em{display: inline-block; width: 18px; line-height: 18px; height: 18px; background: #626262; color: #fff; text-align: center; float: left; margin-right: 5px; font-style: normal;}
.ranking li .date{float: right;}
.ranking li:nth-child(-n+3)>em{background: #E12726;}
.ranking li:nth-child(-n+3)>.date{color: #E12726;}
.text-thumbs{min-height: 400px;overflow:hidden}
.text-thumb{width: 50%; float: left; margin: 10px 0;height: 150px;}
.text-thumbl{width: 250px; height: 150px; float: left; margin-right: 10px;overflow: hidden;}
.text-thumb img{width: 250px; height: 150px;transition:.5s}
.text-thumb img:hover{width: 250px; height: 150px;transform: scale(1.1);}
.text-thumbr{padding-right: 10px;}
.text-thumbr a{font-size: 16px;}
.text-thumbr p{font-size: 12px; color: #666; margin-top: 5px}
.index-50{width: 50%; float: left; box-sizing: border-box; min-height: 370px;overflow:hidden}
.text-list ul li{width: 100%; margin-bottom: 5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; position: relative;}
.text-list ul li a{margin-left: 15px;}
.text-date{float: right; font-size: 12px; color: #888;}
.text-list ul li::before{position: absolute; content: ""; width: 3px; height: 3px; background: #666; border-radius: 100%; left: 0; top: 10px;}
.img-list{min-height: 465px;overflow:hidden}
.img-list ul li{width: 25%; float: left; overflow: hidden; margin: 10px 0;}
.img-list ul li a{overflow: hidden; display: block; margin: 0 7px; border: #f1f1f1 1px solid;}
.img-list ul li p{color: #333; padding: 5px 10px; text-align: center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.img-list ul li a i{height: 150px; display: block; overflow: hidden;}
.img-list ul li a img{width: 100%; height: 150px; display: inline-block; vertical-align: middle; transition: .5s;}
.img-list ul li a:hover img{transform: scale(1.1);}
.tag{min-height: 100px;overflow:hidden}
.tag ul li a{display: block; color: #666; width: 100px; text-align: center; float: left; margin: 5px 6px; padding: 4px 6px; background: #f1f1f1; line-height: 26px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tag ul li a:hover{background: #2196f3; color: #fff;}
.advertise{height: 100px; line-height: 100px; text-align: center; background:#078af2; color: #fff;}
.link{min-height: 100px;overflow:hidden;}
.link ul li{float: left; white-space: nowrap; padding: 5px 10px;}
/*首页*/

/*提示信息*/
.portlet>.portlet-body, .portlet>.portlet-title:after, .row:after {clear: both;}
label {display: inline-block;margin-bottom: 5px;}
.portlet.light {padding: 12px 20px 15px;background-color: #fff;}
.portlet {margin-top: 20px;margin-bottom: 25px;padding: 0;border-radius: 4px;}
.portlet.light>.portlet-title{padding:0;min-height:48px}
.portlet>.portlet-title{border-bottom:1px solid #eee;padding:0;margin-bottom:10px;min-height:41px;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-ms-border-radius:4px 4px 0 0;-o-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.portlet>.portlet-title:after,.portlet>.portlet-title:before{content:" ";display:table}
.portlet.light>.portlet-title>.caption{color:#666;padding:10px 0}
.portlet.light>.portlet-title>.caption>.caption-subject {font-size: 15px;}
.font-green {color: #40aae2!important;}
.search-null-icon {font-size: 40px;color: #ddd;}
.portlet>.portlet-title>.caption{float:left;display:inline-block;font-size:18px;line-height:18px;padding:10px 0}
.portlet.light .portlet-body{padding-top:8px}
.portlet>.portlet-body{-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;-ms-border-radius:0 0 4px 4px;-o-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px}
.msg-body{padding:90px 0}
.row{margin-left:-15px;margin-right:-15px}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}
.msg-icon{font-size:60px;color:#ddd;width:80px}
.portlet>.portlet-body p,.table .btn{margin-top:0}
.msg-info,.msg-url{padding-left:0;text-align:left}
.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before{display:table;content:" "}
.text-center{text-align:center}
.msg-icon {font-size: 60px;color: #ddd;width: 80px;}
.msg-info,.msg-url{padding-left:0;text-align:left;}
.msg-info {margin-top: -10px;padding-bottom: 5px;top: -8px;}
.msg-title {color: #9a9393;padding-bottom: 0;}
.s404-title {color: #9a9393;padding-bottom: 5px;top: -12px;padding-left: 10px;}
.s404-title,.msg-info,.todo-comment{position:relative}
.msg-title{color:#9a9393;padding-bottom:0}
@media (min-width:992px){
.col-md-6{width:50%}
.col-md-12{width:100%}
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}
}
/*提示信息*/

/*频道内容页*/
.main-left{float: left; width: 760px; margin: 20px 0;}
.box-left{width: 800px;}
.main-right{float: right; width: 350px; margin: 20px 0;}
.tag-list{padding-bottom: 10px; overflow: hidden;}
.tag-list a{font-size: 14px; line-height: 24px; height: 24px; display: block; background: #f1f1f1; float: left; padding: 3px 10px; margin: 10px 5px 0 0; border-radius: 3px; transition: all .2s; color: #525252;}
.tag-list a:hover{background: #2196f3; color: #fff;}
.flag{font-style: normal;font-size: 12px;background:#f60;color:#fff;padding: 1px 3px;font-weight:normal;margin-right:3px;}
.news{margin: 20px 0; height: 170px; border-bottom: 1px dashed #d3d3d3; overflow: hidden;}
.news .news-img{width: 230px; height: 150px; float: left; margin-right: 10px; overflow: hidden;}
.news .news-img img{width: 100%; height: 150px; transition: .5s;}
.news .news-img img:hover{transform: scale(1.1);}
.news-right{padding-right: 10px; padding-top: 10px;}
.news-right em{font-style: normal; font-size: 12px; background: #f60; color: #fff; padding: 1px 3px; font-weight: normal; margin-right: 5px;}
.news-right a{font-size: 16px;}
.news-right p{font-size: 12px; color: #666; margin-top: 5px; margin-bottom: 10px}
.news-tags a{color: #666; padding: 4px 8px; border-radius: 3px; margin-right: 10px; font-size: 12px; margin-top: 5px; background: #e5e5e5}
.news-tags a:hover{background: #2196f3; color: #fff;}
.like-list li{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.like-list li .title_color{display: inline;}
.like-list li{padding: 6px 0; height: 20px; line-height: 20px;}
.like-list .date{float: right;}
.comment-list li{margin-bottom: 10px; border-bottom: 1px dashed #ddd; padding-bottom: 5px}
.comment-list a{font-size: 14px;}
.comment-list p em{color: #3366cc; font-style: normal;}
.list-advertise{background: #206fff; color: #fff; font-size: 20px; text-align: center; padding: 20px 0; transition: .3s; background: linear-gradient(45deg, rgba(39, 102, 255, 0.6), rgba(39, 102, 255, 0.9));}
.list-advertise a{color: #fff;}
.list-advertise .ad{font-size: 14px; line-height: 50px}
.list-advertise:hover{opacity: 0.9; color: #fff;}
.content-container{margin: 20px 0;}
.content-container h1{font-size: 22px; margin-bottom: 20px;}
.content-info{margin-bottom: 20px}
.content-info span{margin-right: 20px; color: #888;}
.content h2{font-size: 16px; margin: 20px 0; padding-left: 10px; border-left: 3px solid #2196f3;}
.content img{max-width: 100%;}
.content p{margin-bottom: 10px}
.content a{color: #4394ff;}
.content pre{color: #444;font-family: Monaco,Menlo,Consolas,"Courier New",monospace;display: block;margin:10px 0; padding: 9px;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,.15); border-radius: 3px;background-color: #f5f5f5;white-space: pre-wrap;word-wrap: break-word;font-size: 11px;line-height: 20px;word-break: break-all;}
.content-tag a{color: #666; padding: 4px 8px; border-radius: 3px; margin-right: 10px; font-size: 12px; margin-top: 5px; background: #e5e5e5;}
.content-tag a:hover{background: #2196f3; color: #fff;}
.operate{margin: 10px 0;}
.operate a{margin-right: 10px; background: #2196f3; height:25px;width:70px;display: inline-block;text-align: center; color: #fff; font-size: 12px}
.operate a:hover{opacity: 0.8;color:#fff;}
/*频道内容页*/


/*单页面*/
.page{margin: 20px 0; overflow: hidden;}
.page-left{width: 250px; float: left; padding: 20px 20px;}
.page-right{width: 820px; float: right}
.page-left ul li{margin: 10px 0;}
.page-left ul li a{display: block; border: 1px solid #ddd; text-align: center; padding: 8px 0; border-radius: 3px; font-size: 16px}
.page-left ul li a:hover,
.page-current{background: #1487f4; color: #fff; border: #1487f4 1px solid;}
.page-content{padding: 20px 0;}
.page-content h1{font-size: 18px; margin-bottom: 20px}
/*单页面*/


/*评论区*/
.comment-more h1{font-size: 22px;text-align:center;margin-top:50px;}
.comment-more-box{width:80%;margin:20px auto;padding:30px 0;}
.comment-explain{font-size:12px;color:red;margin-left:10px}
.comment-box{position: relative; margin: 20px 0}
.comment-box h3{height: 28px; line-height: 28px}
.comment-form{position: relative}
.textarea{width: 98%; height: 78px; border: 1px solid #ccc; padding: 5px 5px; outline: none; color: #333; line-height: 20px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px;}
.textarea2{width: 98%}
.comment-form p{height: 28px; line-height: 28px; position: relative}
.comment-form .emotion{width: 42px; height: 20px; background: url(../images/icon.gif) no-repeat 2px 2px; padding-left: 20px; cursor: pointer; color: #999}
.comment-form .emotion:hover{background-position: 2px -28px; color: #666}
.qqFace{margin-top: 4px; background: #fff; padding: 2px; border: 1px #dfe6f6 solid;}
.qqFace table td{padding: 0px;}
.qqFace table td img{cursor: pointer; border: 1px #fff solid;}
.qqFace table td img:hover{border: 1px #0066cc solid;}
.comment-submit{background-color: #e6e6e6; background-image: linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6); background-repeat: no-repeat; border-bottom-right-radius: 3px; border-color: #ddd #ddd #aaa; border-style: solid; border-width: 1px; box-shadow: 0 0 1px #fff inset; color: #555; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; height: 32px; text-align: center; text-shadow: 0 1px 0 #fff; top: 0; transition: all 0.15s linear 0s; width: 100px; cursor: pointer; border-radius: 2px; margin-top: 5px; outline: none;}
.comment-submit:hover{background-position: 0 -15px; color: #121212}
.static{position: static; float: right;}
.comment-list-box{border: 1px solid #ddd; margin: 25px 0 15px; overflow: hidden;}
.comment-list-top{background: #fbfbfb; color: #555; font-size: 14px; padding: 0 12px; height: 30px; line-height: 30px; border-bottom: 1px dotted #ddd;}
.comment-list-top a{color:#de1513;}
.comment-list-body ul{padding: 0 12px;}
.comment-list-body ul li{padding: 10px 0; border-bottom: 1px dotted #ddd; overflow: hidden;}
.comment-list-body ul li:last-child{border-bottom: none;}
.comm-right{margin-left: 50px;}
.comm-right strong{font-weight:normal;}
.comm-right .user_name{color: #017cb9}
.comm-right .user_name:hover{color: #2a6496; text-decoration: underline; transition: all 0.15s linear 0s;}
.comment-list-body .user_pic{float: left;}
.comment-list-body p{font-size: 14px; line-height: 1.5em; color: #666; margin: 5px 0;}
.comment-list-body .original_comment{display: block; margin: 5px 0;}
.comment-list-body .comm_time{font-size: 12px; color: #999;}
.comment-list-body .comm_a{font-size: 12px; color: #999; margin: 0 5px; transition: all 0.15s linear 0s;}
.comment-list-body .comm_a:hover{color: #555}
.none{display: none;}
.original_comment{display: block; margin: 5px 0;}
.input-text, input.date, input.endDate, .input-focus {border: 1px solid #DCDDDD;height: 30px;padding: 0 0 0 3px;width:140px;}
.yzm{display:none;position:absolute; background:url(../images/admin_img/login_ts140x89.gif) no-repeat; width:140px; height:89px;text-align:center; font-size:12px;}
.yzm a:link,.yzm a:visited{color:#036;text-decoration:none;}
.yzm a:hover{ color:#C30;}
.yzm img{ cursor:pointer; margin:0px auto; width:130px; height:50px; margin-top:4px; border:1px solid #fff; margin-bottom:1px;}
/*评论区*/


/* 留言板 */
.book{margin-bottom: 20px}
.book-list{padding: 10px; background: #fafafa; border: 1px solid #dadada; line-height: 25px; margin-bottom: 10px; color: #666}
.book-head{font-size: 12px; border-bottom: 1px dashed #8e8e8e; padding: 5px 0;}
.book-head span{color: #9a9a9a; margin-left: 5px; font-size: 12px}
.book-content{margin: 10px 0;}
.book-content .admin_repay strong{color: #DE4C1C;}
/* 留言板 */


/* 下载模型 */
.down-list{padding: 20px 0; height: 110px; border-bottom: 1px dashed #bbbbbb}
.down-list-left{height: 100px; width: 150px; float: left; margin-right: 15px; overflow: hidden;}
.down-list-left img{height: 110px; width: 150px; transition: .5s;}
.down-list-left img:hover{transform: scale(1.1);}
.down-title{margin-top: 5px}
.down-title a{font-size: 16px; color: #232323;}
.down-date{float: right; font-size: 12px; color: #999}
.down-info{color: #666}
.down-info em{color: #c00; font-style: normal}
.down-desc{line-height: 20px; color: #888}
.down-msg{margin: 20px 0; overflow: hidden;}
.down-msg .desc{background: #f9f8f8; padding: 10px; width: 417px; float: right; margin-bottom: 10px}
.down-msg .desc span{color: #2196f3;}
.down-msg img{width: 300px; height: 200px; float: left; margin-right: 20px}
.down-msg ul{float: left;}
.down-msg ul strong{margin-right: 10px;}
.down-url ul{margin: 20px 0 10px 0;}
.down-url ul li{background: #fafafa; line-height: 35px}
.down-url ul li a{padding-left: 20px; font-size: 14px; background: url(../images/icon.png) no-repeat 0px -121px; margin: 0 5px;}
/* 下载模型 */


/*产品模型*/
.product{margin: 20px 0;}
.product-list-box{width: 50%; float: left; color: #333; font-size: 14px; box-sizing: border-box; margin: 10px 0;}
.product-list{border: 1px #e8e8e8 solid; margin: 5px; padding: 20px; overflow: hidden; height: 160px;}
.product-list:hover{border: 1px #2196f3 solid;}
.product-img{width: 216px; height: 150px; float: left; overflow: hidden;}
.product-list img{width: 216px; height: 150px; float: left; transition: .5s;}
.product-list img:hover{transform: scale(1.1);}
.product-right{float: right; width: 270px;}
.product-title{font-size: 16px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 35px}
.product-price{color: #ff5522; line-height: 35px}
.product-stock{line-height: 35px}
.product-details{background: #ff5522; border-radius: 3px; display: block; width: 130px; height: 35px; line-height: 35px; text-align: center; color: #fff; transition: 0.3s; font-size: 16px;}
.product-details:hover{color: #fff; opacity: 0.8}
.image{width: 100%; height: 450px; line-height: 450px; text-align: center; border: 1px solid #ddd; background: #f9f8f8}
.image img{width: 600px; height: 450px; overflow: hidden;}
.switch{width: 100%; height: 87px; border: 1px solid #ddd; margin: 5px auto;}
.icon1{display: inline; width: 30px; float: left; padding-top: 28px; text-indent: -9999px; margin-left: 10px;}
.icon1 a{display: block; width: 32px; height: 32px; background: url(../images/left.png) no-repeat;}
.icon2{float: right; width: 38px; padding-top: 28px; text-indent: -9999px;}
.icon2 a{display: block; width: 32px; height: 32px; background: url(../images/right.png) no-repeat;}
.switch-center{float: left; width: 665px; height: 83px; margin-left: 10px; overflow: hidden; padding-top: 3px;}
.switch-center li{display: inline; float: left; width: 100px; height: 66px; margin: 0 5px; padding-top: 10px;}
.switch-center li a{display: block; width: 88px; height: 60px; border: 1px solid #ddd;}
.switch-center li a img{width: 88px; height: 60px;}
.switch-center li a.on{border: 1px solid #ff9900;}
.switch-center li a:hover{border: 1px solid #ff9900;}
/*产品模型*/

.mt-checkbox,.mt-radio {display: inline-block;position: relative;height: 19px;padding-left: 30px;margin: 0px;cursor: pointer;font-size: 14px;webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s}
.mt-checkbox.mt-checkbox-disabled,.mt-checkbox.mt-radio-disabled,.mt-radio.mt-checkbox-disabled,.mt-radio.mt-radio-disabled {opacity: .6;filter: alpha(opacity=60)}.mt-checkbox>input,.mt-radio>input {position: absolute;z-index: -1;opacity: 0;filter: alpha(opacity=0)}.mt-checkbox>span,.mt-radio>span {border: 1px solid transparent;position: absolute;top: 0;left: 0;height: 19px;width: 19px;background: #E6E6E6}
.mt-checkbox>span:after,.mt-radio>span:after {content: '';position: absolute;display: none}
.input-icon>i,.mt-checkbox-list .mt-checkbox,.mt-checkbox-list .mt-radio,.mt-checkbox>input:checked~span:after,.mt-radio-list .mt-checkbox,.mt-radio-list .mt-radio,.mt-radio>input:checked~span:after {display: block}.mt-checkbox:hover>input:not([disabled])~span,.mt-checkbox>input:focus~span,.mt-radio:hover>input:not([disabled])~span,.mt-radio>input:focus~span {background: #d9d9d9;webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s}.mt-checkbox:hover>input:not([disabled]):checked~span,.mt-checkbox>input:checked~span,.mt-radio:hover>input:not([disabled]):checked~span,.mt-radio>input:checked~span {webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;background: #d9d9d9}.icon-btn,.icon-btn:hover {-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease}.mt-checkbox>input:disabled~span,.mt-radio>input:disabled~span {opacity: .6;filter: alpha(opacity=60);pointer-events: none}.icon-btn,.ie8 .icon-btn:hover {filter: none}.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span,.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span,.mt-checkbox.mt-checkbox-outline>input:checked~span,.mt-checkbox.mt-checkbox-outline>input:focus~span,.mt-checkbox.mt-checkbox-outline>span,.mt-checkbox.mt-radio-outline:hover>input:not([disabled]):checked~span,.mt-checkbox.mt-radio-outline:hover>input:not([disabled])~span,.mt-checkbox.mt-radio-outline>input:checked~span,.mt-checkbox.mt-radio-outline>input:focus~span,.mt-checkbox.mt-radio-outline>span,.mt-radio.mt-checkbox-outline:hover>input:not([disabled]):checked~span,.mt-radio.mt-checkbox-outline:hover>input:not([disabled])~span,.mt-radio.mt-checkbox-outline>input:checked~span,.mt-radio.mt-checkbox-outline>input:focus~span,.mt-radio.mt-checkbox-outline>span,.mt-radio.mt-radio-outline:hover>input:not([disabled]):checked~span,.mt-radio.mt-radio-outline:hover>input:not([disabled])~span,.mt-radio.mt-radio-outline>input:checked~span,.mt-radio.mt-radio-outline>input:focus~span,.mt-radio.mt-radio-outline>span {border: 1px solid #d9d9d9;background: 0 0}
.mt-radio>span,.timeline .timeline-badge-userpic img {-webkit-border-radius: 50%!important;-moz-border-radius: 50%!important}
.mt-radio>span {-ms-border-radius: 50%!important;-o-border-radius: 50%!important;border-radius: 50%!important}
.mt-radio>span:after {left: 6px;top: 6px;height: 6px;width: 6px;border-radius: 50%;background: #666}
.mt-radio>input:disabled~span:after {background: #666}
.mt-checkbox>span:after {left: 6px;top: 3px;width: 5px;height: 10px;border: solid #666;border-width: 0 2px 2px 0;transform: rotate(45deg)}
.mt-checkbox>input:disabled~span:after {border-color: #666}
.form-inline .mt-checkbox {margin-left: 15px;margin-right: 15px}
.mt-checkbox-list,.mt-radio-list {padding: 10px 0}
.form-horizontal .form-group .mt-checkbox-list,.form-horizontal .form-group .mt-radio-list {padding-top: 0}
.mt-checkbox-inline,.mt-radio-inline {padding: 10px 0px 10px 15px;float: left;}
.form-horizontal .form-group .mt-checkbox-inline,.form-horizontal .form-group .mt-radio-inline {padding-top: 8px}
.mt-checkbox-inline .mt-checkbox,.mt-checkbox-inline .mt-radio,.mt-radio-inline .mt-checkbox,.mt-radio-inline .mt-radio {display: inline-block;margin-right: 15px}
.mt-checkbox-inline .mt-checkbox:last-child,.mt-checkbox-inline .mt-radio:last-child,.mt-radio-inline .mt-checkbox:last-child,.mt-radio-inline .mt-radio:last-child {margin-right: 0}
.search-form li {margin-bottom: 15px;height: 34px;}
.search-form .col-md-9{padding-left: 15px;padding-right: 15px;}
.search-form .bk{height: 10px;}
.search-form .btn{text-align:center;}
.search-form .submit{display: inline-block;margin-bottom: 0;font-weight: 400;text-align: center;vertical-align: middle;touch-action: manipulation;cursor: pointer;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 14px;line-height: 1.42857;border-radius: 4px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.search-form .control-label {float: left;padding-left: 15px;padding-right: 15px;text-align: right;width: 11%;}
.search-form input,.search-form select {height: 34px;padding: 0px 12px;background-color: #fff;border: 1px solid #c2cad8;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out.15s,box-shadow ease-in-out .15s;}
.search-form .input-text{width: 300px;}
/*关键字提示*/
.point{border:1px solid #ffbf7a; background:#fffced;  position: absolute; z-index:1000; width:auto;}
.point .arro{position:absolute; top:-9px;*top:-13px; left:97px; width:18px; height:9px;background: url(../../../images/v10/key_float.png) no-repeat;}
.point .contents{padding:8px 10px; text-indent:0;margin-right:10px;font-weight:normal;}
.point a.close span{display:none}
.point a.close{background: url(../../../images/cross.png) no-repeat left 3px; display:block; width:16px; height:16px;position: absolute; right:4px; top:4px;*top:0px;_top:0px;outline:none;}
.point a.close:hover{background-position: left -46px}
.point span.o1,.point span.o2,.point span.o3,.point span.o4{position:absolute;width:3px;height:3px;background: url(../../../images/fillet.png) no-repeat; line-height:0; font-size:0}
.point span.o1{background-position: left top; top:-1px;*top:-5px; left:-1px;}
.point span.o2{background-position: right top; top:-1px;*top:-5px; right:-1px}
.point span.o3{background-position: left -3px; bottom:-1px;*bottom:3px; left:-1px}
.point span.o4{background-position: right -3px; bottom:-1px;*bottom:3px; right:-1px;}