{template 'member', 'header'}
<link href="{CSS_PATH}muntime/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.btn {outline: 0!important;}
.btn {box-shadow: none!important;}
.btn-group-xs>.btn, .btn-xs {padding: 1px 5px;font-size: 12px;border-radius: 3px;}
.btn {display: inline-block;margin-bottom: 0;font-weight: 400;text-align: center;vertical-align: middle;touch-action: manipulation;border: 1px solid transparent;user-select: none;}
.btn:not(.btn-sm):not(.btn-lg) {line-height: 1.44;}
.btn.green:not(.btn-outline) {color: #FFF;background-color: #32c5d2;border-color: #32c5d2;}
.btn.green:not(.btn-outline).active, .btn.green:not(.btn-outline):active, .btn.green:not(.btn-outline):hover, .open>.btn.green:not(.btn-outline).dropdown-toggle {color: #FFF;background-color: #26a1ab;border-color: #2499a3;}
.btn.red:not(.btn-outline) {color: #fff;background-color: #e7505a;border-color: #e7505a;}
.btn.red:not(.btn-outline).active, .btn.red:not(.btn-outline):active, .btn.red:not(.btn-outline):hover, .open>.btn.red:not(.btn-outline).dropdown-toggle {color: #fff;background-color: #e12330;border-color: #dc1e2b;}
.btn.dark:not(.btn-outline) {color: #FFF;background-color: #2f353b;border-color: #2f353b;}
.btn.dark:not(.btn-outline).active, .btn.dark:not(.btn-outline):active, .btn.dark:not(.btn-outline):hover, .open>.btn.dark:not(.btn-outline).dropdown-toggle {color: #FFF;background-color: #181c1f;border-color: #141619;}
.btn.yellow:not(.btn-outline) {color: #fff;background-color: #c49f47;border-color: #c49f47;}
.btn.yellow:not(.btn-outline).active, .btn.yellow:not(.btn-outline):active, .btn.yellow:not(.btn-outline):hover, .open>.btn.yellow:not(.btn-outline).dropdown-toggle {color: #fff;background-color: #a48334;border-color: #9c7c32;}
.btn.blue:not(.btn-outline) {color: #FFF;background-color: #3598dc;border-color: #3598dc;}
.btn.blue:not(.btn-outline).active, .btn.blue:not(.btn-outline):active, .btn.blue:not(.btn-outline):hover, .open>.btn.blue:not(.btn-outline).dropdown-toggle {color: #FFF;background-color: #217ebd;border-color: #1f78b5;}
</style>
<div class="member_container main">
    {template 'member', 'left'}
    <div class="main_right">
        <div class="tit">
            <h3>{L('website')}</h3>
        </div>
        <div class="main_cont">
            <table class="tablelist">
                <thead>
                    <tr>
                        <th width="120">{L('name')}</th>
                        <th width="120">{L('domain')}</th>
                        <th width="120">{L('money')}</th>
                        <th width="80">{L('status')}</th>
                        <th width="120">{L('notice_time')}</th>
                        <th>{L('operation')}</th>
                    </tr>
                </thead>
                <tbody>
                    {loop $datas $info} 
                    <tr>
                        <td><a href="{$info['domain']}" target="_blank">{str_cut($info['name'], 60)}</a></td>
                        <td>{$info['domain']}</a></td>
                        <td>{$info['money']}</td>
                        <td>{if $info['status']==1}{L('no_check')}{elseif $info['status']==2}{L('check_2')}{elseif $info['status']==3}{L('check_3')}{elseif $info['status']==4}{L('check_4')}{/if}</td>
                        <td>{if $info['inputtime']}{date('Y-m-d',$info['inputtime'])}{/if} ~ {if $info['endtime']}{date('Y-m-d',$info['endtime'])}{/if}</td>
                        <td><a href="index.php?m=fclient&c=member&a=edit&id={$info['id']}" class="btn btn-xs green"> <i class="fa fa-edit"></i> {L('edit')}</a>
                        <a href="index.php?m=fclient&c=member&a=pay&id={$info['id']}" class="btn btn-xs red"> <i class="fa fa-clock-o"></i> {L('clock')}</a>
                        <a href="index.php?m=fclient&c=member&a=sync&id={$info['id']}" class="btn btn-xs blue"> <i class="fa fa-cloud"></i> {L('cloud')}</a>
                        <a target="_blank" href="index.php?m=fclient&c=member&a=sync_admin&id={$info['id']}" class="btn btn-xs red"> <i class="fa fa-user"></i> {L('login_admin')}</a>
                        <a target="_blank" href="{$info['domain']}" class="btn btn-xs yellow"> <i class="fa fa-search"></i> {L('site_home')}</a></td>
                    </tr>
                    {/loop}
                </tbody>
            </table>
            <div id="page">{$pages}</div>
        </div>
    </div>
</div>
{template 'member', 'footer'}