{template "content","header"}
<!--网站容器-->
<div class="container"> 
		 <div class="content-box main-left text-list">
		 		<div class="title">
		 			<h2>表单向导</h2>
		 		</div>
		 	    <ul>
		 		   {loop $datas $r}
		 		   <li>
		 		   	<span class="text-date">{date('Y-m-d H:i:s',$r['addtime'])}</span>
		 		   	<a href="{APP_PATH}index.php?m=formguide&c=index&a=show&formid={$r['modelid']}" title="{$r['name']}" target="_blank">{$r['name']}</a>
		 		   </li>		
		 		   {/loop}
		 		</ul>
				<div id="page">{$pages}</div>
		  </div>
		  
		 <div class="main-right">	
		 	<div class="content-box">
				<div class="title">
		 			<h2>频道总排行</h2>
		 		</div>
		 	    <ul class="ranking">
				{pc:content action="hits" catid="6" num="10" order="views DESC"}
				{loop $data $r}
		 			<li><em>{$n}</em><span class="date">{date('m-d',$r['inputtime'])}</span><a href="{$r['url']}" title="{$r['title']}"><span class="title_color"{title_style($r['style'])}>{str_cut($r['title'], 60, '')}</span></a></li>
				{/loop}
				{/pc}
		 		</ul>		 		
		 	</div>
 		 	<div class="line"></div>
 	 	 	<div class="content-box">
 	 			<div class="title">
 	 	 			<h2>频道本月排行</h2>
 	 	 		</div>
 				<ul class="comment-list">		
				{pc:content action="hits" catid="6" num="10" order="monthviews DESC"}
				{loop $data $r}
 					<li><a href="{$r['url']}" title="{$r['title']}">{str_cut($r['title'], 60, '')}</a></li>
				{/loop}
				{/pc}
 				</ul>		 		
 	 	 	</div>
		 	<div class="line"></div>
	 	 	<div class="content-box">
	 			<div class="title">
	 	 			<h2>热门标签</h2>
	 	 		</div>
			    <ul class="tag-list">
				{pc:content action="tag" field="id,siteid,keyword,videonum,searchnums" limit="30"}
				{loop $data $r}
					<li><a href="{tag_url($r['keyword'],$r['siteid'])}">{$r['keyword']}({$r['videonum']})</a></li>	
				{/loop}
				{/pc}
				</ul>
	 	 	</div>
		 </div>
</div>
{template "content","footer"}